@import "../../scss/variables.scss";
.button {
  background-color: $mainColor;
  padding: 5px 10px;
  color: $neutralLight;
  border: 0;
  font-family: $mainFont;
  font-size: 1.3em;
  border-radius: 5px;
  margin-top: 10px;
}
