@import "../../scss/variables.scss";

.detail-content {
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;

  .container-info {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  .poster-description-container {
    display: flex;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
  }

  .description-container-info {
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 20px;
  }
  .poster-image {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    margin: 15px;
  }
  .info-container {
    flex: 1 1 50%;
    max-width: calc(100% - 320px);
    overflow-x: hidden;
    margin-top: 20px;
    border: 1px solid #ddd; /* Añade el borde al info-container */
    border-radius: 5px; /* Añade el borde redondeado */
    padding: 20px; /* Agrega espacio alrededor del contenido */
  }

  .description-container-info h3 {
    font-size: 25px;
    margin-top: 5px;
  }
  .description-container-info p {
    margin-bottom: 10px;
  }
  .italic-dark {
    font-style: italic;
    font-weight: bold;
  }

  .media-container {
    text-align: left;
    margin-top: 20px;
  }

  .media-container button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .info-container img {
    width: 300px;
    height: 450px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  .container-info .info-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .reviews {
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

  .reviews div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .reviews img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }

  .media-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 5px;
  }
  .review-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 25px;
  }

  .review-content {
    flex: 1;
    margin-right: 30px;
  }

  .user-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
  }
  .star-rating {
    font-size: 15px;
  }

  .genres {
    display: flex;
  }
}

@media (max-width: $breakpointMD) {
  .container-info {
    flex-direction: column;
  }

  .media-container iframe {
    height: 300px;
  }
}
