/* Main container */
.mainContainer {
  position: relative;
  background-color: rgb(214, 214, 214);
  width: 100%;
  height: 500px;
  overflow: hidden;

  @import "../../scss/arrows.scss";
  .leftArrow,
  .rightArrow {
    background-color: $mainColor;
  }
}
