
.movie-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .back-button {
    margin-bottom: 20px;
  }
  
  .form-wrapper {
    width: 400px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-input,
  .form-textarea {
    width: 90%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  
  }
  
  .genre-list {
    list-style: none;
    padding: 0;
  }