html{
  color: black;
  background-color: white;  
  width: 100%;
  height: 100%;
}

div{
  border: 1px solid black;
}
.container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  text-align: center;
}
@media only screen and (max-width: 450px){

  .container{
    display: flex;
    flex-flow:column;
    text-align: center;
    justify-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    align-items: stretch;
    font-size: 0.75em;
  }
}

.movie-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.back-button {
  margin-bottom: 20px;
}

.form-wrapper {
  width: 400px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  font-weight: bold;
}

.form-input,
.form-textarea {
  width: 90%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.genre-list {
  list-style: none;
  padding: 0;
}

.genre-list li {
  margin-bottom: 5px;
}

.poster-preview {
  max-width: 200px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}
