html{
  color: black;
  background-color: white;  
  height: 100%;
  margin: 0;
}

div{
  border: 1px solid black;
}
.container{
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.carousel {
  display: flex;
  flex-flow:row wrap;
  justify-content:space-around;
  justify-items: stretch;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
@media only screen and (max-width: 450px){

  .container{
    display: flex;
    flex-flow:column;
    text-align: center;
    justify-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    align-items: center;
    font-size: 0.75em;
  }
}

ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

img {
  margin-top: -16px;
}