.detail-content {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  
  .info-container {
    grid-column: 1/2;
    width: 100%;
  }
  .info-container h3,
  .info-container p {
    position: relative;
    

  }
  .rev-container {
    grid-column: 1/2;
    width: 700px;
  }
  
  .info-container img{
    width: 250px; 
    height: 400px;
  }
  .media-container img,
  .media-container video {
    width: 250px;
    height: 400px;
  }

  