@import "../../scss/variables.scss";
.card {
  margin: 15px;
  position: relative;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  .image {
    position: relative;

    .info {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: absolute;
      bottom: 3px;
      left: 0;
      font-family: $mainFont;
      font-size: 1.5em;
      font-weight: 700;
      color: $neutralLight;
      height: 100%;
      width: 100%;
      background: rgb(0, 0, 0);
      background: -moz-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 5%,
        rgba(0, 0, 0, 0) 100%
      );
      background: -webkit-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 5%,
        rgba(0, 0, 0, 0) 100%
      );
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7) 5%,
        rgba(0, 0, 0, 0) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
      > div {
        padding-bottom: 20px;
      }
    }
  }
}
