$mainColor: #9a4df2;
$secondayColor: #ffffff;
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$neutralDark: #270944;
$neutralLight: white;
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;
